streamlit==1.36.0
pandas==2.3.2
google-cloud-bigquery==3.25.0
google-auth==2.33.0
pandas-gbq==0.22.0

# Only install pyarrow when Python < 3.13 (Cloud 用的是 3.13，会上跳过)
pyarrow==16.1.0 ; python_version < "3.13"
